<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5U-分析系统</title>
    <link rel="shortcut icon" href="/static/images/icoo.ico" />
    <link rel="stylesheet" href=" /static/css/initial.css ">
    <link rel="stylesheet" href=" /static/css/analystyle.css ">
    <link rel="stylesheet" href=" /static/css/common.css ">
    <script type="text/javascript" src="http://lib.baomitu.com/jquery/latest/jquery.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<div class="banner">
    <img src="/static/images/analy1.png" alt=""  align="center" width="100%" height="100%">
</div>
<div class="box clearfix">
    <!--subnav-->
    <div class="box1 clearfix">
        <ul class="nav">
            <li class=" tou nav1">
                <a href="#" class="prior one tag">企业分析</a>
                <ul>
                    <li><a href="javascript:void(0);" onclick="getData('companySize')">企业规模</a></li>
                    <li><a href="javascript:void(0);" onclick="getData('companyType')">企业类型</a></li>
                </ul>
            </li>
            <li class=" tou nav2">
                <a href="javascript:void(0);" onclick="getData('region_number')" class="prior">地区分析</a>
            </li>
            <li class="tou nav3">
                <a href="#" class="prior tag">学历/经验分析</a>
                <ul >
                    <li><a href="javascript:void(0);" onclick="getData('education_number')">学历分析</a></li>
                    <li><a href="javascript:void(0);" onclick="getData('experience_number')">经验分析</a></li>
                </ul>
            </li>
            <li class="tou nav4">
                <a href="#" class="prior tag">薪资水平分析</a>
                <ul>
                    <li><a href="javascript:void(0);" onclick="getData('education_salary')">薪资与学历关系</a></li>
                    <li><a href="javascript:void(0);" onclick="getData('experience_salary')">薪资与经验关系</a></li>
                    <li><a href="javascript:void(0);" onclick="getData('region_salary')">薪资与岗位需求关系</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="box2" id="box2" align="center"><!--图表展示-->
        <h3>职责词云</h3>
        <br/>
        <img src="/static/images/cloudwords/{{ pid }}.png" width="80%" height="80%">
    </div>
    <div class="box3"><!--个人中心部分-->
        <div class="self">
            <img src="/static/images/tou1.jpg" alt="" width="100%" height="100%" >
        </div>
        <div class="enter">
            <a href="{% url 'selfcenter' %}">个人中心</a><!--进入个人中心-->
        </div>
        <!--热门招聘信息-->
        <div class="show">
            <div class="show1">
                <h4>热门招聘信息</h4>
            </div>
            <div class="show2">
                <ul>
                    <li><a href="#">【TOP1】这里是热度第一的招聘信息</a></li>
                    <li><a href="#">【TOP2】这里是热度第二的招聘信息</a></li>
                    <li><a href="#">【TOP3】这里是热度第三的招聘信息</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="return">
    <a href="{% url 'index' %}"></a>
</div>
<script type="text/javascript">

    function getData(analysis_item) {
            var dom=document.getElementById("box2");
            var myChart=echarts.init(dom);
            var option=null;
            var i;
            var newData=[];
            var post_data={
                "type":analysis_item,
                "pid":{{ pid }},
            };
            $.ajax({
                url: '/get_analysis/',
                type: "POST",
                data: post_data,
                success: function (data) {
                    res = JSON.parse(data);
                    console.log(res.data_x);
                    if(res['marks']==0){
                        option = {
                            title: {
                                text: res['profession']+'岗位各公司规模总数分布条形图',
                                left: 'center',
                                top:10,
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    data: res.data_x,
                                }
                            ],
                            tooltip: {
                                trigger: 'axis'
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            yAxis: [
                                {
                                    type: 'value',
                                    name:  '企业数目 /家',
                                }
                            ],
                            series: [
                                {
                                    color:'#0099CC',
                                    name: '企业数目',
                                    type: 'bar',
                                    data: res.data_y,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }else if(res['marks']==1){
                        for(i=0;i<res.data_x.length;i++){
                            newData.push({value:res.data_y[i],name:res.data_x[i]});
                        }
                        option = {
                            title: {
                                text: res['profession']+'岗位中各类型企业所占比例',
                                left: 'center',
                                padding: 15,
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{a} <br/>{b} : {c} ({d}%)'
                            },
                            legend: {
                                left: 'center',
                                top: 'bottom',
                                data: res.data_x,
                            },
                            series: [
                                {
                                    name:'企业类型',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '49%'],
                                    data: newData,
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }else if(res["marks"]==2){
                        option = {
                            title: {
                                text: '地区分布图表',
                                left: "center",
                                top:10,
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            toolbox: {
                                feature: {
                                    magicType: {
                                        type: ['stack', 'tiled']
                                    },
                                    dataView: {},
                                    saveAsImage: {
                                        pixelRatio: 2
                                    }
                                }
                            },
                            tooltip: {},
                            xAxis: {
                                data: res.data_x,
                                splitLine: {
                                    show: false
                                }
                            },
                            yAxis: {
                            },
                            series: [{
                                type: 'bar',
                                data: res.data_y,
                                color:'#FF9933',
                                animationDelay: function (idx) {
                                    return idx * 10 + 100;
                                }
                            }],
                            animationEasing: 'elasticOut',
                            animationDelayUpdate: function (idx) {
                                return idx * 5;
                            }
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }else if(res["marks"]==3){
                        option = {
                            title: {
                                text: '薪资与地区的关系图表',
                                left: "center",
                                textStyle: {
                                    fontWeight: 'normal',
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: [ '最高工资','最低工资'],
                                top:'bottom',
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '10%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: res.data_x,
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    name: '薪资 /元',
                                }
                            ],
                            series: [
                                {
                                    name: '最低工资',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: res.data_y,
                                },
                                {
                                    name: '最高工资',
                                    type: 'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {},
                                    data:  res.data_z,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }else if(res["marks"]==4){
                        for(i=0;i<res.data_x.length;i++){
                            newData.push({value:res.data_y[i],name:res.data_x[i]});
                        }
                        option = {
                            title: {
                                text: '学历分布图表',
                                left: "center",
                                top:10,
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{a} <br/>{b}: {c} ({d}%)'
                            },
                            legend: {
                                orient: 'vertical',
                                left:10,
                                top: 'bottom',
                                data: res.data_x,
                            },
                            series: [
                                {
                                    name: '学历分布',
                                    type: 'pie',
                                    radius: ['50%', '71%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '30',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: newData,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }else if(res["marks"]==5){
                        option = {
                            title: {
                                text: '工作经验分布图表',
                                left: "center",
                                top:10,
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: {
                            },
                            yAxis: {
                                type: 'category',
                                data: res.data_x,
                            },
                            series: [
                                {
                                    color:'#00CC99',
                                    type: 'bar',
                                    data: res.data_y,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }

                    }else if(res["marks"]==6){
                        option = {
                            title: {
                                text: '薪资与学历的关系图表',
                                left: "center",
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['平均工资', '最高工资','最低工资'],
                                top:'bottom',
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '10%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: res.data_x,
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    name: '薪资 /元',
                                },
                            ],
                            series: [
                                {
                                    name: '平均工资',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:  res.data_y,
                                },
                                {
                                    name: '最低工资',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data:  res.data_a,
                                },
                                {
                                    name: '最高工资',
                                    type: 'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {},
                                    data:   res.data_z,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }

                    }else if(res["marks"]==7){
                        option = {
                            title: {
                                text: '薪资与工作经验的关系图表',
                                left: "center",
                                textStyle: {
                                    fontWeight: 'normal',              //标题颜色
                                    color: '#666666',
                                },
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['平均工资', '最高工资','最低工资'],
                                top:'bottom',
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '10%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data:res.data_x,
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    name: '薪资 /元',
                                },
                            ],
                            series: [
                                {
                                    name: '平均工资',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: res.data_y,
                                },
                                {
                                    name: '最低工资',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: res.data_a,
                                },
                                {
                                    name: '最高工资',
                                    type: 'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {},
                                    data: res.data_z,
                                }
                            ]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }

                    }else{

                    }
                }
            });
        }
    var nav=document.querySelector('.nav')
    var lis=nav.children;
    for(var i=0;i<lis.length;i++) {
        lis[i].onmouseover= function () {
            this.children[1].style.display = 'block';
        }
        lis[i].onmouseout= function () {
            this.children[1].style.display = 'none';
        }
    }
</script>
</body>
</html>