<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href=" /static/css/indexstyle.css ">
    <script type="text/javascript" src="http://lib.baomitu.com/jquery/latest/jquery.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<div class="banner">
    <img src="/static/images/index2.png" alt=""  align="center" width="100%" height="100%">
</div>
<div class="search">
    <input type="text" value="输入关键词">
    <button><img src="/static/images/Rectangle4.png" alt="" width="12.5" height="12" align="center"></button>
</div>
<div class="box">
    <div class="box1"><!--nav-->
        <div class="nav">
            <ul>
{#                <li><a href="analysis.html">互联网<span> &gt </span></a></li>#}
{#                <li><a href="{% url 'analysis' param='python' %}">互联网<span> &gt </span></a></li>#}
                <li><a href="javascript:void(0);" onclick="goToDetail('python')">互联网<span> &gt </span></a></li>
                <li><a href="analysis.html">金融<span> &gt </span></a></li>
                <li><a href="analysis.html">房地产/建筑<span> &gt </span></a></li>
                <li><a href="analysis.html">贸易/零售/物流<span> &gt </span></a></li>
                <li><a href="analysis.html">教育/传媒/广告<span> &gt </span></a></li>
                <li><a href="analysis.html">服务业<span> &gt </span></a></li>
                <li><a href="analysis.html">市场/销售<span> &gt </span></a></li>
                <li><a href="analysis.html">人事/财务/行政<span> &gt </span></a></li>
                <li><a href="analysis.html">全部职类<span> &gt </span></a></li>
            </ul>
        </div>
    </div>
    <div class="box2"><!--信息展示-->
        <div class="predict">
            <a href="{% url 'predict' %}"><img src="/static/images/predic1.png" width="100%" height="100%"></a>
        </div>
        <div><!--热门展示区-->
            <div class="introduce one">
                <a href="#"><img src="/static/images/rm11.png" alt=""  align="center"></a>
            </div>
            <div class="introduce two">
                <a href="#"><img src="/static/images/rm12.png" alt=""  align="center"></a>
            </div>
            <div class="introduce three">
                <a href="#"><img src="/static/images/rm13.png" alt=""  align="center"></a>
            </div>
        </div>

    </div>
    <div class="box3"><!--用户中心+热门招聘信息-->
        <div class="self">
            <img src="/static/images/tou1.jpg" alt="" width="100%" height="100%" >
        </div>
        <div class="enter">
            <a href="{% url 'selfcenter' %}">个人中心</a><!--进入个人中心-->
        </div>
        <div class="show"><!--热门招聘信息-->
            <div class="show1"><h4>热门招聘信息</h4></div>
            <div>
                <ul>
                    <li><a href="#">【TOP1】</a></li>
                    <li><a href="#">【TOP2】</a></li>
                    <li><a href="#">【TOP3】</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function goToDetail(name){
        var post_data={
            "profession":name,
        };
        $.ajax({
            url: '/get_proId/',
            type: "POST",
            data: post_data,
            success: function (data) {
                data = JSON.parse(data);
                window.location.href=`analysis/pid=`+data['pid'];
            }
        });
    }
</script>
</body>
</html>