<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5U-登录注册</title>
    <link rel="shortcut icon" href=" ../static/images/icoo.ico" />
    <link rel="stylesheet" href="../static/css/initial.css ">
    <link rel="stylesheet" href="../static/css/loginstyle.css">
</head>
<body>
<div class="box">
    <!--欢迎词-->
    <div class="welcome">
        <h1>欢迎来到5U网上招聘系统</h1>
    </div>
    <div class="in">
        <div class="fenge"></div>
        <ul>
            <li>账 号：<input type="text"></li>
            <li>密 码：<input type="text"></li>
        </ul>
        <a href="{% url 'index' %}">注册/登录</a>
    </div>
</div>
<div></div>
</body>
</html>

