<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5U-预测系统</title>
    <link rel="shortcut icon" href=" ../static/images/icoo.ico" />
    <link rel="stylesheet" href=" ../static/css/initial.css ">
    <link rel="stylesheet" href=" ../static/css/predicstyle.css ">
    <link rel="stylesheet" href=" ../static/css/common.css ">
</head>
<body>
<div class="banner">
    <img src="/static/images/predic2.png" alt=""  align="center" width="100%" height="100%">
</div>
<!--search模块-->
<div class="search">
    <input type="search" placeholder="请输入关键词">
    <button><img src="../static/images/Rectangle4.png" alt="" width="12.5" height="12" align="center"></button>
</div>
</div>
<div class="box">
    <div class="box1"><!--subnav-->
        <ul>
            <li><button>城市需求预测</button></li>
            <li><button>薪资变化预测</button></li>
            <li><button>专业排名预测</button></li>
            <li><button>岗位排名预测</button></li>
        </ul>
    </div>
    <div class="box2"><!--图表展示-->

    </div>
    <div class="box3"><!--个人中心部分-->
        <div class="self">
            <img src="/static/images/tou1.jpg" alt="" width="100%" height="100%" >
        </div>
        <div class="enter">
            <a href="{% url 'selfcenter' %}">个人中心</a><!--进入个人中心-->
        </div>
        <!--热门招聘信息-->
        <div class="show">
            <div class="show1"><h4>热门招聘信息</h4></div>
            <div class="show2">
                <ul>
                    <li><a href="#">【TOP1】这里是热度第一的招聘信息</a></li>
                    <li><a href="#">【TOP2】这里是热度第二的招聘信息</a></li>
                    <li><a href="#">【TOP3】这里是热度第三的招聘信息</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="return">
    <a href="{% url 'index' %}"><img src="/static/images/shape1.png" align="center" width="13" height="10" ></a>
</div>
</body>
</html>